<div class="about-main"> 
  <div class="content container"> <h1>Journey back in time</h1> </div> 
</div> 

<div class="about-supporting"> 
    <div class="container"> <h2>Be whisked away to that far off place</h2> <p>Leverage social media and machine learning to build synergy. Share your photos with humans and AI's. </p> <p>
      <!--<a class="btn btn-primary" href="/signups/new">Sign up</a>-->
      <%= link_to 'Signup', "/signups/new", :class => "btn btn-primary"%>
      </p> </div> 
</div> 
