<div class="contact-main"> 
  <div class="content container">
    <div class="row"> 
      <div class="col-md-2 col-md-4-offset"></div> 
      <div class="col-md-8">
        <h1>Thanks. You'll hear from our representatives shortly.</h1>      
      </div><div class="col-md-2 col-md-4-offset"></div>
    </div>
  </div>
</div>